# Конфиденциальные данные
.env
config/keys/
config/secure/
config/*.json
*.pem
*.key

# Кеши и временные файлы
config/__pycache__/
*.py[cod]
*.swp
*.bak
*.log
__pycache__/
*.sqlite3  # Если вдруг тесты будут использовать SQLite

# Игнорируем пользовательские настройки IDE и редакторов
.vscode/
.idea/

# Файлы конфигурации
*.yaml
docker-compose.override.yml  # Локальные настройки для Docker

# Миграции Django
**/migrations/

# Игнорируем конфигурации пользователей VPN
config/wireguard/clients/

# Docker файлы
postgres_data/
